:root {
    --primaryColor: #ff274b;
    --secondaryColor: #f8b3bf;
    --lightColor: #ecdfdf;
    --bgColor-1: #070000;
    --bgColor-2: #22282a;
    --padding: 8%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span {
    color: var(--primaryColor);
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav {
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a {
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover {
    color: var(--primaryColor);
}

.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid var(--primaryColor);
    transition: 0.4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texts {
    position: relative;
    bottom: 70px;
}

h1 {
    font-size: 4.65rem;
    margin: 1.7rem;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
    animation: typing 6s steps(40, end), blink-caret .75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid rgb(233, 212, 216);
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);
    animation: typing 8s steps(40, end), blink-caret .75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
}

h5 {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

p {
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

.social {
    margin-top: 3.5rem;
}

.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover {
    transform: scale(1.2);
}

.home .container-images {
    width: 80%; 
    height: 80%; 
    position: relative;
    align-self: flex-end;
}

.home .container-images img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 70%;
    transform: translateX(-50%);
    border-radius: 50%; 
    animation: bounce 2s infinite; 
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -20px);
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(243, 228, 201); }
}

.services {
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}

.text-center {
    text-align: center;
}

.about {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-images {
    width: 35%;
}

.about .container-images img {
    width: 90%;
}

.about .container-texts {
    width: 35%;
}

.box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}

.card i {
    font-size: 3.12rem;
    text-align: center;
    color: var(--primaryColor);
}

.skills .container-images {
    width: 35%;
}

.skills .container-images img {
    width: 90%;
}

.skills {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container-skills {
    width: 50%;
}

.content-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.skill {
    width: 100px;
    height: 100px;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill img {
    width: 70%;
}

footer {
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

footer .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p {
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end {
    color: var(--primaryColor);
    margin-top: 1rem;
}

/* زر القائمة العلوية للهاتف */
.homburger {
    display: none;
    position: relative;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.homburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
}

/* ميديا كويريز للشاشات الصغيرة */
@media screen and (max-width: 575px) {
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

    .home .container-images {
        display: none;
    }

    nav > a {
        display: none;
    }

    .container-texts {
        bottom: 0em;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    h3 {
        margin-bottom: 70px;
    }

    .social {
        margin-top: 70px;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }

    nav ul.is-active {
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }

    nav ul li.subscribe {
        display: none; /* إخفاء زر الاشتراك */
    }

    #menu {
        display: block;
    }

    .about .container-images {
        display: none;
    }

    .about .container-texts {
        width: 100%;
    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .container-images {
        display: none;
    }

    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill {
        width: 80px;
        height: 80px;
    }

    footer .content-footer p {
        width: 100%;
    }
}
